* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  padding-bottom: 5rem;
}
$primaryColor: #4ab9cf;

.container {
  width: 100%;
  max-width: 1536px;
  padding: 0 1rem;
  margin: 0 auto;
}
p {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
button {
  border: 0;
  cursor: pointer;
  &:focus,
  &:active {
    outline: 0;
  }
}
.btn-primary {
  padding: 1rem 2rem;
  background-color: $primaryColor;
}
//nav barstart hete

.navbar {
  width: 100%;
  background-color: white;
  position: relative;
  .nav-info {
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .logo {
      width: 270px;
    }
    .nav-info__cta {
      display: flex;
      flex-direction: column;
      order: 3;
      width: 100%;
      margin-bottom: 1rem;
      .nav-info__cta-item {
        position: relative;
        border-bottom: 1px solid #b4b4b4;
        padding: 0.5rem 0;
        &:last-child {
          border-bottom: 0;
        }
        .nav-info__cta-item-top {
          display: flex;
          align-items: center;
          i {
            color: #e21f2f;
            margin-right: 0.5rem;
          }
          h4 {
            color: #aaaaaa;
            display: inline-block;
            font-size: 13px;
            font-weight: 400;
            margin: 0;
            letter-spacing: 0;
          }
        }
        p,
        a {
          display: block;
          text-decoration: none;
          color: #474747;
          font-weight: 700;
          margin: 0.5rem 0;
          font-size: 1rem;
        }
      }
    }
    .mobile-menu {
      height: 80px;
      cursor: pointer;
      position: relative;
      z-index: 9999;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      width: 80px;
      span {
        position: absolute;
        height: 4px;
        width: 30px;
        left: 50%;
        top: 50%;
        background-color: #000;
        transform: rotate(0deg) translate(-50%, -50%);
        opacity: 1;
        border-radius: 10px;
        transition: 0.25s ease-in-out;
      }
      span:nth-child(1) {
        top: 40%;
      }
      span:nth-child(2) {
        top: 50%;
      }
      span:nth-child(3) {
        top: 60%;
      }
    }
    .mobile-menu.open {
      span {
        background-color: white;
      }
      span:nth-child(1) {
        top: 50%;
        transform-origin: center;
        transform: rotate(45deg);
      }
      span:nth-child(2) {
        transform-origin: center;
        top: 50%;
        left: -100px;
        opacity: 0;
      }
      span:nth-child(3) {
        transform-origin: center;
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }

  .main-nav {
    height: calc(100vh);
    background-color: #1f425d;
    position: fixed;
    z-index: 99;
    top: 0px;
    right: 0;
    width: 300px;
    font-weight: 500;
    font-size: 18px;
    padding-top: 80px;
    color: white;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;

    .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .main-nav__items {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .main-nav__items-link {
        margin-right: 0rem;
        width: 200px;
        a,
        span {
          cursor: pointer;
          display: block;
          padding: 1rem;
        }
        i {
          cursor: pointer;
        }
        .main-nav__items-link__submenu {
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
          height: 0;
          li {
            background-color: #38729e;
            border-bottom: 1px solid #adadad;
            width: 200px;
            margin-left: 2rem;
            transition: all 0.3s;
            &:last-child {
              border-bottom: 0;
            }
            a {
              padding: 1rem;
              display: block;
            }
          }
        }
        .open-submenu {
          visibility: visible;
          opacity: 1;
          height: auto;
        }
      }
      .submenu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .main-nav__items-link__submenu {
          width: 100%;
        }
      }
    }
  }
  .main-nav.open-nav {
    transform: translateX(0);
  }
}
//nav bar ends heer

.homepage-hero {
  overflow: hidden;
  .glider-contain {
    position: relative;
    height: 80vh;
    .glider {
      height: inherit;
      .glider-track {
        height: inherit;
      }
      .glider-item {
        position: relative;
        z-index: 1;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.739);
          height: 100%;
          width: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .container {
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          user-select: text;
          .glider-item__info {
            color: white;
            h1 {
              font-size: 2rem;
              font-weight: 900;
              margin-bottom: 1rem;
            }
            p {
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5rem;
            }
            a {
              display: inline-block;
              margin-top: 1rem;
              text-transform: capitalize;
            }
          }
        }
      }
    }
    .buttons {
      position: absolute;
      top: 0rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      width: 80%;
      height: 4rem;
      .container {
        height: inherit;
        position: relative;
        .btn-wraper {
          width: 80%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          button {
            width: 60px;
            height: 60px;
            border-radius: 2px;
            background-color: rgba(250, 250, 250, 0.35);
            font-size: 24px;
            color: rgba(0, 0, 0, 0.35);
          }
        }
      }
    }
  }
}
.services-cards {
  .services-cards__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    .services-cards__item {
      min-height: 200px;
      padding: 0 1rem;
      margin-bottom: 1.5rem;
      .services-cards__item-image {
        height: 200px;
        margin-bottom: 1rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .services-cards__item-title {
        margin-bottom: 1rem;
        h1 {
          font-size: 1.5rem;
          color: #444444;
        }
      }
      .services-cards__item-text {
        margin-bottom: 1rem;
        p {
          font-size: 1rem;
          line-height: 1.5;
          margin-bottom: 1rem;
          color: #aaaaaa;
        }
      }
      .services-cards__item-cta {
        margin-bottom: 1rem;
        a {
          color: $primaryColor;
          font-size: 1rem;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
  .no-image {
    background-color: white;
    .services-cards__item-title,
    .services-cards__item-text,
    .services-cards__item-cta {
      padding: 1.5rem 0 0 0;
    }
  }
}
.section__title {
  padding: 2rem 0;
  font-size: 2.75rem;
  font-weight: 900;
  color: #272626;
  letter-spacing: -0.05em;
  position: relative;
  span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.065);
    width: 20%;
    right: 0;
  }
}
.icon-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
  padding: 2rem;

  border: 1px solid #e6e6e6;
  border-bottom: 2px solid #b9babc;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  line-height: 1.3;
  transition: all 100ms ease-out;

  &:hover {
    color: $primaryColor;
    border-bottom: 2px solid $primaryColor;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
  }
  &:hover i {
    color: $primaryColor;
  }

  .icon-box__text {
    h4 {
      margin-bottom: 0.5rem;
      color: #444444;
      font-weight: 900;
      letter-spacing: -0.05em;
    }
    p {
      color: #aaaaaa;
      font-size: 14px;
    }
  }
  i {
    color: #b9babc;
    width: 80px;
    font-size: 2.5rem;
    text-align: center;
  }
}
.our-services {
  .container {
    .our-services__cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }
  }
}

@media (min-width: 1024px) {
  .section__title {
    span {
      width: 70%;
    }
  }
  //nav barstart hete
  .navbar {
    width: 100%;
    background-color: white;
    font-size: 1.2rem;
    .nav-info {
      min-height: 100px;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        width: 270px;
      }
      .nav-info__cta {
        width: calc(100% - 270px);
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        margin-bottom: 0;
        .nav-info__cta-item {
          padding: 1rem;
          margin-left: 2rem;
          position: relative;
          border-bottom: 0;

          &::after {
            content: "";
            border-right: 1px solid #b4b4b4;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -1rem;
            height: 2rem;
          }
          &:last-child:after {
            display: none;
          }
        }
      }
      .mobile-menu {
        display: none;
      }
    }
    .main-nav {
      height: 60px;
      background-color: #1f425d;
      position: relative;
      z-index: 99;
      top: 0px;
      right: 0;
      width: 100%;
      font-weight: 500;
      font-size: 18px;
      padding-top: 0px;
      color: white;
      transform: translateX(0);
      transition: transform 0.5s ease-in-out;
      .main-nav__items {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        // margin-left: 300px;
        .main-nav__items-link {
          margin-right: 1rem;
          width: auto;
          position: relative;
          a {
            display: block;
            padding: 1rem;
          }
          .main-nav__items-link__submenu {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            height: 0;
            top: 100%;
            left: 0;
            li {
              background-color: #38729e;
              border-bottom: 1px solid #adadad;
              width: 200px;
              margin-left: 0rem;
              transition: all 0.3s;
              &:last-child {
                border-bottom: 0;
              }
              a {
                padding: 1rem;
                display: block;
              }
            }
          }
          .open-submenu {
            visibility: visible;
            opacity: 1;
            height: auto;
          }
        }
        .submenu {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .main-nav__items-link__submenu {
            width: 100%;
          }
        }
      }
    }
  }
  .homepage-hero {
    .glider-contain {
      height: 60vh;
      .glider {
        .glider-item {
          .container {
            .glider-item__info {
              max-width: 700px;
              h1 {
                font-size: 2.5rem;
                margin-bottom: 1.5rem;
              }
              a {
                display: inline-block;
                margin-top: 1.5rem;
                text-transform: capitalize;
                font-weight: 500;
              }
            }
          }
        }
      }
      .buttons {
        position: absolute;
        top: 2rem;
        left: 0;
        transform: translateX(0%);
        z-index: 2;
        width: 100%;
        height: 4rem;
        .container {
          height: inherit;
          position: relative;
          .btn-wraper {
            width: 300px;
            height: 100%;
            display: block;
            .glider-next,
            .glider-prev {
              position: relative;
              margin: 0;
              left: 0;
              top: 0;
            }
            button {
              width: 60px;
              height: 60px;
              border-radius: 2px;
              background-color: rgba(250, 250, 250, 0.35);
              font-size: 24px;
              color: rgba(0, 0, 0, 0.35);
            }
            .glider-next {
              left: 8px;
            }
          }
        }
      }
    }
  }
  .services-cards {
    margin-top: -3rem;
    position: relative;
    z-index: 9;
    .services-cards__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
    }
    .no-image {
      background-color: white;
      .services-cards__item-title,
      .services-cards__item-text,
      .services-cards__item-cta {
        padding: 1.5rem 1.5rem 0 1.5rem;
      }
    }
  }

  .our-services {
    .container {
      .our-services__cards {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
