* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  border: 0;
  cursor: pointer;
}

button:focus, button:active {
  outline: 0;
}

.btn-primary {
  padding: 1rem 2rem;
  background-color: #4ab9cf;
}

.navbar {
  width: 100%;
  background-color: white;
  position: relative;
}

.navbar .nav-info {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar .nav-info .logo {
  width: 270px;
}

.navbar .nav-info .nav-info__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 100%;
  margin-bottom: 1rem;
}

.navbar .nav-info .nav-info__cta .nav-info__cta-item {
  position: relative;
  border-bottom: 1px solid #b4b4b4;
  padding: 0.5rem 0;
}

.navbar .nav-info .nav-info__cta .nav-info__cta-item:last-child {
  border-bottom: 0;
}

.navbar .nav-info .nav-info__cta .nav-info__cta-item .nav-info__cta-item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-info .nav-info__cta .nav-info__cta-item .nav-info__cta-item-top i {
  color: #e21f2f;
  margin-right: 0.5rem;
}

.navbar .nav-info .nav-info__cta .nav-info__cta-item .nav-info__cta-item-top h4 {
  color: #aaaaaa;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0;
}

.navbar .nav-info .nav-info__cta .nav-info__cta-item p,
.navbar .nav-info .nav-info__cta .nav-info__cta-item a {
  display: block;
  text-decoration: none;
  color: #474747;
  font-weight: 700;
  margin: 0.5rem 0;
  font-size: 1rem;
}

.navbar .nav-info .mobile-menu {
  height: 80px;
  cursor: pointer;
  position: relative;
  z-index: 9999;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 80px;
}

.navbar .nav-info .mobile-menu span {
  position: absolute;
  height: 4px;
  width: 30px;
  left: 50%;
  top: 50%;
  background-color: #000;
  -webkit-transform: rotate(0deg) translate(-50%, -50%);
          transform: rotate(0deg) translate(-50%, -50%);
  opacity: 1;
  border-radius: 10px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.navbar .nav-info .mobile-menu span:nth-child(1) {
  top: 40%;
}

.navbar .nav-info .mobile-menu span:nth-child(2) {
  top: 50%;
}

.navbar .nav-info .mobile-menu span:nth-child(3) {
  top: 60%;
}

.navbar .nav-info .mobile-menu.open span {
  background-color: white;
}

.navbar .nav-info .mobile-menu.open span:nth-child(1) {
  top: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar .nav-info .mobile-menu.open span:nth-child(2) {
  -webkit-transform-origin: center;
          transform-origin: center;
  top: 50%;
  left: -100px;
  opacity: 0;
}

.navbar .nav-info .mobile-menu.open span:nth-child(3) {
  -webkit-transform-origin: center;
          transform-origin: center;
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar .main-nav {
  height: calc(100vh);
  background-color: #1f425d;
  position: fixed;
  z-index: 99;
  top: 0px;
  right: 0;
  width: 300px;
  font-weight: 500;
  font-size: 18px;
  padding-top: 80px;
  color: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.navbar .main-nav .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .main-nav .main-nav__items {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .main-nav .main-nav__items .main-nav__items-link {
  margin-right: 0rem;
  width: 200px;
}

.navbar .main-nav .main-nav__items .main-nav__items-link a,
.navbar .main-nav .main-nav__items .main-nav__items-link span {
  cursor: pointer;
  display: block;
  padding: 1rem;
}

.navbar .main-nav .main-nav__items .main-nav__items-link i {
  cursor: pointer;
}

.navbar .main-nav .main-nav__items .main-nav__items-link .main-nav__items-link__submenu {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  height: 0;
}

.navbar .main-nav .main-nav__items .main-nav__items-link .main-nav__items-link__submenu li {
  background-color: #38729e;
  border-bottom: 1px solid #adadad;
  width: 200px;
  margin-left: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .main-nav .main-nav__items .main-nav__items-link .main-nav__items-link__submenu li:last-child {
  border-bottom: 0;
}

.navbar .main-nav .main-nav__items .main-nav__items-link .main-nav__items-link__submenu li a {
  padding: 1rem;
  display: block;
}

.navbar .main-nav .main-nav__items .main-nav__items-link .open-submenu {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.navbar .main-nav .main-nav__items .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar .main-nav .main-nav__items .submenu .main-nav__items-link__submenu {
  width: 100%;
}

.navbar .main-nav.open-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.homepage-hero {
  overflow: hidden;
}

.homepage-hero .glider-contain {
  position: relative;
  height: 80vh;
}

.homepage-hero .glider-contain .glider {
  height: inherit;
}

.homepage-hero .glider-contain .glider .glider-track {
  height: inherit;
}

.homepage-hero .glider-contain .glider .glider-item {
  position: relative;
  z-index: 1;
}

.homepage-hero .glider-contain .glider .glider-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.739);
  height: 100%;
  width: 100%;
}

.homepage-hero .glider-contain .glider .glider-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.homepage-hero .glider-contain .glider .glider-item .container {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.homepage-hero .glider-contain .glider .glider-item .container .glider-item__info {
  color: white;
}

.homepage-hero .glider-contain .glider .glider-item .container .glider-item__info h1 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.homepage-hero .glider-contain .glider .glider-item .container .glider-item__info p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.homepage-hero .glider-contain .glider .glider-item .container .glider-item__info a {
  display: inline-block;
  margin-top: 1rem;
  text-transform: capitalize;
}

.homepage-hero .glider-contain .buttons {
  position: absolute;
  top: 0rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  width: 80%;
  height: 4rem;
}

.homepage-hero .glider-contain .buttons .container {
  height: inherit;
  position: relative;
}

.homepage-hero .glider-contain .buttons .container .btn-wraper {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homepage-hero .glider-contain .buttons .container .btn-wraper button {
  width: 60px;
  height: 60px;
  border-radius: 2px;
  background-color: rgba(250, 250, 250, 0.35);
  font-size: 24px;
  color: rgba(0, 0, 0, 0.35);
}

.services-cards .services-cards__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.services-cards .services-cards__items .services-cards__item {
  min-height: 200px;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

.services-cards .services-cards__items .services-cards__item .services-cards__item-image {
  height: 200px;
  margin-bottom: 1rem;
}

.services-cards .services-cards__items .services-cards__item .services-cards__item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-cards .services-cards__items .services-cards__item .services-cards__item-title {
  margin-bottom: 1rem;
}

.services-cards .services-cards__items .services-cards__item .services-cards__item-title h1 {
  font-size: 1.5rem;
  color: #444444;
}

.services-cards .services-cards__items .services-cards__item .services-cards__item-text {
  margin-bottom: 1rem;
}

.services-cards .services-cards__items .services-cards__item .services-cards__item-text p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #aaaaaa;
}

.services-cards .services-cards__items .services-cards__item .services-cards__item-cta {
  margin-bottom: 1rem;
}

.services-cards .services-cards__items .services-cards__item .services-cards__item-cta a {
  color: #4ab9cf;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.services-cards .no-image {
  background-color: white;
}

.services-cards .no-image .services-cards__item-title,
.services-cards .no-image .services-cards__item-text,
.services-cards .no-image .services-cards__item-cta {
  padding: 1.5rem 0 0 0;
}

.section__title {
  padding: 2rem 0;
  font-size: 27px;
  font-weight: 900;
  color: #272626;
  letter-spacing: -0.05em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__title h3 {
  margin-right: 1rem;
}

.section__title span {
  border-bottom: 1px solid rgba(0, 0, 0, 0.065);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section__title .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__title .buttons button {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #aaa;
  margin-left: 10px;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.section__title .buttons button:last-child {
  margin-left: 1rem;
}

.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid red;
  padding: 2rem;
  border: 1px solid #e6e6e6;
  border-bottom: 2px solid #b9babc;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  line-height: 1.3;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.icon-box:hover {
  color: #4ab9cf;
  border-bottom: 2px solid #4ab9cf;
  -webkit-box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
}

.icon-box:hover i {
  color: #4ab9cf;
}

.icon-box .icon-box__text h4 {
  margin-bottom: 0.5rem;
  color: #444444;
  font-weight: 900;
  letter-spacing: -0.05em;
}

.icon-box .icon-box__text p {
  color: #aaaaaa;
  font-size: 14px;
}

.icon-box i {
  color: #b9babc;
  width: 80px;
  font-size: 2.5rem;
  text-align: center;
}

.contact-us__form input,
.contact-us__form select,
.contact-us__form textarea {
  color: #444444;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #eee;
  font-size: 0.8rem;
  background-color: #f5f5f5;
  border-radius: 2px;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.contact-us__form input:focus,
.contact-us__form select:focus,
.contact-us__form textarea:focus {
  outline: 0;
  outline-color: #4ab9cf;
}

.contact-us__form .contact-us__form-submit button {
  color: white;
  font-weight: 700;
  height: 45px;
  line-height: 45px;
  padding: 0 30px;
  border-radius: 2px;
  text-transform: uppercase;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.divider {
  margin-top: 22px;
  margin-bottom: 22px;
  border: 0;
  border-top: 1px solid #eee;
}

.read-more {
  color: #4ab9cf;
  font-weight: 700;
  padding: 1rem 0;
}

.read-more i {
  margin-left: 0.5rem;
}

.page-hero {
  background: #f5f5f5 -webkit-gradient(linear, left top, right top, from(#f5f5f5), to(#eeeeee));
  background: #f5f5f5 linear-gradient(90deg, #f5f5f5, #eeeeee);
  padding: 50px 0;
}

.page-hero .page-name h1 {
  color: #444444;
  text-transform: uppercase;
  margin: 0;
  font-size: 44px;
}

.page-hero .page-name h3 {
  font-size: 16px;
  color: #aaa;
  margin: 10px 0 7px;
  font-weight: 400;
  letter-spacing: 0;
}

.breadcrumbs {
  -webkit-box-shadow: 0 1px 2px #e6e6e6;
          box-shadow: 0 1px 2px #e6e6e6;
  border-top: 1px solid #e6e6e6;
  height: 50px;
}

.breadcrumbs .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.breadcrumbs span {
  display: inline-block;
  position: relative;
  color: #444;
  padding: 0.5rem;
}

.breadcrumbs span a {
  display: block;
  font-weight: 700;
  position: relative;
  width: 100%;
}

.breadcrumbs .current-page {
  color: #aaa;
}

.our-services .container .our-services__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.news {
  background-image: url("/assets/images/news-bg.jpg");
  background-repeat: repeat;
  padding: 2rem 0;
  margin-top: 2rem;
}

.news .news-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.news .news-cards .news-cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 300px;
  background-color: white;
  position: relative;
}

.news .news-cards .news-cards__item .news-cards__item-image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  margin-bottom: 1rem;
}

.news .news-cards .news-cards__item .news-cards__item-text {
  padding: 0 1.5rem;
}

.news .news-cards .news-cards__item .news-cards__item-text h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 21px;
  text-transform: uppercase;
  color: #444444;
  letter-spacing: -0.05em;
}

.news .news-cards .news-cards__item .news-cards__item-text p {
  color: #aaaaaa;
  margin-bottom: 1rem;
}

.news .news-cards .news-cards__item .news-cards__item-date {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #e21f2f;
  padding: 0.4rem;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}

.news .news-cards .news-cards__item .news-cards__item-date::before {
  position: absolute;
  content: "";
  top: 0.3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  background-color: rgba(250, 250, 250, 0.5);
  z-index: 5;
  width: 70%;
  border-radius: 4px;
}

.news .news-cards .news-cards__item .news-cards__item-date::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 10px 0 0;
  border-color: #bf1926 transparent transparent transparent;
}

.news .news-list-items {
  margin: 1rem 0;
}

.news .news-list-items a {
  display: block;
  padding: 1rem 2rem;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  font-size: 1rem;
  color: #444444;
  letter-spacing: -0.05em;
}

.news .news-list-items a h1 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.news .news-list-items a p {
  color: #aaaaaa;
}

.news .news-list-items .more-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #4ab9cf;
  font-weight: 700;
  text-transform: uppercase;
}

.our-values {
  padding: 3rem 0;
  margin-bottom: 4rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.95)), to(rgba(255, 255, 255, 0.95))), url("/assets/images/pexels-alexander-isreb-1797428.jpg") 50% no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95) 100%), url("/assets/images/pexels-alexander-isreb-1797428.jpg") 50% no-repeat;
  background-size: cover;
}

.our-values .our-values__wraper {
  text-align: center;
}

.our-values .our-values__wraper h3 {
  font-size: 2.75rem;
  color: #444444;
}

.our-values .our-values__wraper p {
  color: #aaaaaa;
  line-height: 1.5;
  font-size: 1rem;
}

.our-values .our-values__wraper .by {
  color: #4ab9cf;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1rem;
}

.our-values .our-values__wraper img {
  margin: 2rem 0;
}

.homepage-about-us .home-page-about-us__text p {
  font-size: 1rem;
  color: #aaaaaa;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.homepage-about-us .homepage-about-us__contact {
  padding: 3rem 0;
}

.homepage-about-us .homepage-about-us__contact .contact-us__form-wraper {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 2rem;
}

.homepage-about-us .homepage-about-us__contact .contact-us__form-wraper .contact-us__form-title {
  font-size: 1.5rem;
  color: #444444;
  font-weight: 900;
  letter-spacing: -0.05em;
  margin-bottom: 1rem;
}

.homepage-about-us .homepage-about-us__contact .contact-us__form-wraper p {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #aaaaaa;
}

.homepage-gallery-faq {
  margin-bottom: 4rem;
}

.homepage-gallery-faq .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.homepage-gallery-faq .container .homepage-gallery .gallery-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

.homepage-gallery-faq .container .homepage-gallery .gallery-images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.homepage-testimonials {
  overflow: hidden;
  background-color: #eeeeee;
  padding: 3rem 0;
}

.homepage-testimonials .container .glider-contain .glider .glider-item-testimonials {
  margin-right: 1rem;
  color: #aaaaaa;
}

.homepage-testimonials .container .glider-contain .glider .glider-item-testimonials .testimonials-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 2rem 2rem 2rem 0;
  margin-bottom: 1rem;
}

.homepage-testimonials .container .glider-contain .glider .glider-item-testimonials .testimonials-box p {
  line-height: 1.5;
}

.homepage-testimonials .container .glider-contain .glider .glider-item-testimonials .testimonials-box i {
  background-color: #4ab9cf;
  padding: 1rem;
  margin-right: 1rem;
  color: white;
  height: 100px;
}

.homepage-testimonials .container .glider-contain .glider .glider-item-testimonials .testimonials-person {
  padding: 1rem 0;
}

.homepage-testimonials .container .glider-contain .glider .glider-item-testimonials .testimonials-person strong {
  color: black;
}

.homepage-testimonials .container .glider-contain .glider .glider-item-testimonials .testimonials-person span {
  font-style: italic;
}

.homepage-testimonials .container .glider-contain .glider::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.homepage-partners {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.homepage-partners .partners-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.homepage-partners .partners-list li {
  margin: 15px 0;
  border: 1px solid #e6e6e6;
  border-bottom: 2px solid #b9babc;
  border-radius: 2px;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  opacity: 0.6;
}

.homepage-partners .partners-list li:hover {
  border-bottom: 2px solid #4ab9cf;
  opacity: 1;
}

.homepage-statistics {
  padding: 3rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 240, 240, 0.949)), to(rgba(240, 240, 240, 0.949))), url("/assets/images/statistics-bg.jpg") 50% no-repeat;
  background: linear-gradient(rgba(240, 240, 240, 0.949), rgba(240, 240, 240, 0.949) 100%), url("/assets/images/statistics-bg.jpg") 50% no-repeat;
  background-size: cover;
  min-height: 300px;
}

.homepage-statistics .statistics-list-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.homepage-statistics .statistics-list-items .statistics-list-item {
  background-color: white;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.homepage-statistics .statistics-list-items .statistics-list-item .statistics-list-item__top {
  font-size: 44px;
  line-height: 70px;
  font-weight: 900;
  color: #444;
}

.homepage-statistics .statistics-list-items .statistics-list-item .statistics-list-item__top i {
  color: #e21f2f;
}

.homepage-statistics .statistics-list-items .statistics-list-item p {
  color: #aaaaaa;
}

.about-us-section {
  padding: 3rem 0;
}

.about-us-section .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  overflow: hidden;
  gap: 2rem;
}

.about-us-section .container p {
  line-height: 1.5;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #aaa;
}

.about-us-section .container img {
  height: 48%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}

.about-us-section__team .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.about-us-section__team .container .team-card {
  line-height: 1.5;
}

.about-us-section__team .container .team-card img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}

.about-us-section__team .container .team-card h1,
.about-us-section__team .container .team-card h3 {
  margin-bottom: 0.5rem;
  font-weight: 900;
}

.about-us-section__team .container .team-card h1 {
  color: #444;
  font-size: 1.75rem;
}

.about-us-section__team .container .team-card h3 {
  color: #bbb;
  font-size: 1.2rem;
}

.about-us-section__team .container .team-card p {
  color: #aaa;
  margin-bottom: 1rem;
}

.footer {
  background-color: #1f425d;
  padding: 3rem 0;
  color: white;
  line-height: 1.5;
}

.footer .footer-list-items .footer-list-item {
  margin-bottom: 1rem;
}

.footer .footer-list-items .footer-list-item .footer-logo {
  margin-bottom: 1rem;
}

.footer .footer-list-items .footer-list-item p {
  font-size: 1rem;
  color: #9eb7cb;
}

.footer .footer-list-items .footer-list-item .footer-list-item__headings {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

.footer .footer-list-items .footer-list-item .footer-list-item__links {
  color: #9eb7cb;
}

.footer .footer-list-items .footer-list-item .footer-list-item__links .footer-list-item__link {
  padding: 1rem 0;
}

.footer .footer-list-items .footer-list-item .social {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-list-items .footer-list-item .social li {
  margin-right: 0.5rem;
  background-color: #305a79;
  border-radius: 2px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-list-items .footer-list-item .social li a {
  display: block;
  font-size: 1.75rem;
  margin: 0;
  padding: 0;
  color: #9eb7cb;
}

.footer .footer-list-items .footer-list-item .social li a i {
  margin: 0;
  padding: 0;
}

@media (min-width: 1024px) {
  .section__title span {
    width: 70%;
  }
  .contact-us__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-us__form .contact-us__form-left-items,
  .contact-us__form .contact-us__form-right-items {
    width: 48%;
  }
  .contact-us__form .contact-us__form-submit {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbar {
    width: 100%;
    background-color: white;
    font-size: 1.2rem;
  }
  .navbar .nav-info {
    min-height: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .nav-info .logo {
    width: 270px;
  }
  .navbar .nav-info .nav-info__cta {
    width: calc(100% - 270px);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    margin-bottom: 0;
  }
  .navbar .nav-info .nav-info__cta .nav-info__cta-item {
    padding: 1rem;
    margin-left: 2rem;
    position: relative;
    border-bottom: 0;
  }
  .navbar .nav-info .nav-info__cta .nav-info__cta-item::after {
    content: "";
    border-right: 1px solid #b4b4b4;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -1rem;
    height: 2rem;
  }
  .navbar .nav-info .nav-info__cta .nav-info__cta-item:last-child:after {
    display: none;
  }
  .navbar .nav-info .mobile-menu {
    display: none;
  }
  .navbar .main-nav {
    height: 60px;
    background-color: #1f425d;
    position: relative;
    z-index: 99;
    top: 0px;
    right: 0;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 0px;
    color: white;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .navbar .main-nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 30px;
    background-color: white;
    z-index: 9999999;
  }
  .navbar .main-nav::after {
    content: "";
    position: absolute;
    top: -3px;
    left: 160px;
    width: 30px;
    height: 50px;
    background-color: #1f425d;
    z-index: 9999999;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .navbar .main-nav .main-nav__items {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .main-nav .main-nav__items .main-nav__items-link {
    margin-right: 1rem;
    width: auto;
    position: relative;
  }
  .navbar .main-nav .main-nav__items .main-nav__items-link a {
    display: block;
    padding: 1rem;
  }
  .navbar .main-nav .main-nav__items .main-nav__items-link .main-nav__items-link__submenu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    height: 0;
    top: 100%;
    left: 0;
  }
  .navbar .main-nav .main-nav__items .main-nav__items-link .main-nav__items-link__submenu li {
    background-color: #38729e;
    border-bottom: 1px solid #adadad;
    width: 200px;
    margin-left: 0rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar .main-nav .main-nav__items .main-nav__items-link .main-nav__items-link__submenu li:last-child {
    border-bottom: 0;
  }
  .navbar .main-nav .main-nav__items .main-nav__items-link .main-nav__items-link__submenu li a {
    padding: 1rem;
    display: block;
  }
  .navbar .main-nav .main-nav__items .main-nav__items-link .open-submenu {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
  .navbar .main-nav .main-nav__items .submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navbar .main-nav .main-nav__items .submenu .main-nav__items-link__submenu {
    width: 100%;
  }
  .homepage-hero .glider-contain {
    height: 60vh;
  }
  .homepage-hero .glider-contain .glider .glider-item .container .glider-item__info {
    max-width: 700px;
  }
  .homepage-hero .glider-contain .glider .glider-item .container .glider-item__info h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .homepage-hero .glider-contain .glider .glider-item .container .glider-item__info a {
    display: inline-block;
    margin-top: 1.5rem;
    text-transform: capitalize;
    font-weight: 500;
  }
  .homepage-hero .glider-contain .buttons {
    position: absolute;
    top: 2rem;
    left: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    z-index: 2;
    width: 100%;
    height: 4rem;
  }
  .homepage-hero .glider-contain .buttons .container {
    height: inherit;
    position: relative;
  }
  .homepage-hero .glider-contain .buttons .container .btn-wraper {
    width: 300px;
    height: 100%;
    display: block;
  }
  .homepage-hero .glider-contain .buttons .container .btn-wraper .glider-next,
  .homepage-hero .glider-contain .buttons .container .btn-wraper .glider-prev {
    position: relative;
    margin: 0;
    left: 0;
    top: 0;
  }
  .homepage-hero .glider-contain .buttons .container .btn-wraper button {
    width: 60px;
    height: 60px;
    border-radius: 2px;
    background-color: rgba(250, 250, 250, 0.35);
    font-size: 24px;
    color: rgba(0, 0, 0, 0.35);
  }
  .homepage-hero .glider-contain .buttons .container .btn-wraper .glider-next {
    left: 8px;
  }
  .services-cards {
    margin-top: -3rem;
    position: relative;
    z-index: 9;
  }
  .services-cards .services-cards__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
  }
  .services-cards .no-image {
    background-color: white;
  }
  .services-cards .no-image .services-cards__item-title,
  .services-cards .no-image .services-cards__item-text,
  .services-cards .no-image .services-cards__item-cta {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
  .our-services {
    padding: 4rem 0;
    margin-bottom: 4rem;
  }
  .our-services .container .our-services__cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .news {
    padding: 5rem 0;
    margin-top: 4rem;
  }
  .news .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .news .news-cards {
    width: 66%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .news .news-cards .news-cards__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 300px;
    background-color: white;
    position: relative;
  }
  .news .news-cards .news-cards__item .news-cards__item-image {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  .news .news-cards .news-cards__item .news-cards__item-text {
    padding: 0 1.5rem;
  }
  .news .news-cards .news-cards__item .news-cards__item-text h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 21px;
    text-transform: uppercase;
    color: #444444;
    letter-spacing: -0.05em;
  }
  .news .news-cards .news-cards__item .news-cards__item-text p {
    color: #aaaaaa;
    margin-bottom: 1rem;
  }
  .news .news-cards .news-cards__item .news-cards__item-date {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: #e21f2f;
    padding: 0.4rem;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .news .news-cards .news-cards__item .news-cards__item-date::before {
    position: absolute;
    content: "";
    top: 0.3rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 2px;
    background-color: rgba(250, 250, 250, 0.5);
    z-index: 5;
    width: 70%;
    border-radius: 4px;
  }
  .news .news-cards .news-cards__item .news-cards__item-date::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: -9px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 10px 0 0;
    border-color: #bf1926 transparent transparent transparent;
  }
  .news .news-list-items {
    margin: 0;
    width: 32%;
  }
  .news .news-list-items a {
    display: block;
    padding: 1rem 2rem;
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
    -webkit-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
    font-size: 1rem;
    color: #444444;
    letter-spacing: -0.05em;
  }
  .news .news-list-items a h1 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 900;
  }
  .news .news-list-items .more-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #4ab9cf;
    font-weight: 700;
    text-transform: uppercase;
  }
  .our-values {
    padding: 5rem 0;
  }
  .our-values .our-values__wraper {
    max-width: 700px;
    margin: 0 auto;
  }
  .homepage-about-us .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .homepage-gallery-faq .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .homepage-gallery-faq .container .homepage-gallery .gallery-images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 100px 100px;
        grid-template-rows: 100px 100px;
  }
  .homepage-partners .partners-list {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }
  .homepage-statistics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homepage-statistics .statistics-list-items {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .homepage-statistics .statistics-list-items .statistics-list-item {
    background-color: white;
    padding: 1rem;
    text-align: center;
    border-bottom: 0;
    border-left: 1px dashed rgba(0, 0, 0, 0.2);
  }
  .homepage-statistics .statistics-list-items .statistics-list-item .statistics-list-item__top {
    font-size: 44px;
    line-height: 70px;
    font-weight: 900;
    color: #444;
  }
  .homepage-statistics .statistics-list-items .statistics-list-item .statistics-list-item__top i {
    color: #e21f2f;
  }
  .homepage-statistics .statistics-list-items .statistics-list-item p {
    color: #aaaaaa;
  }
  .about-us-section {
    padding: 3rem 0;
  }
  .about-us-section .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 80vh;
        grid-template-rows: 80vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
    gap: 4rem;
  }
  .about-us-section .container p {
    line-height: 1.5;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #aaa;
    padding-right: 2rem;
  }
  .about-us-section .container img {
    height: 48%;
    width: 80%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 0.5rem;
  }
  .about-us-section__team {
    margin-bottom: 2rem;
  }
  .about-us-section__team .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .about-us-section__team .container .team-card {
    line-height: 1.5;
  }
  .about-us-section__team .container .team-card img {
    height: 300px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 1rem;
  }
  .about-us-section__team .container .team-card h1,
  .about-us-section__team .container .team-card h3 {
    margin-bottom: 0.5rem;
    font-weight: 900;
  }
  .about-us-section__team .container .team-card h1 {
    color: #444;
    font-size: 1.75rem;
  }
  .about-us-section__team .container .team-card h3 {
    color: #bbb;
    font-size: 1.2rem;
  }
  .about-us-section__team .container .team-card p {
    color: #aaa;
    margin-bottom: 1rem;
  }
  .footer {
    background-color: #1f425d;
    padding: 4rem 0;
  }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-list-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 20% 20%;
        grid-template-columns: auto 20% 20%;
    gap: 2rem;
  }
}

@media (min-width: 1280px) {
  .navbar .main-nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 30px;
    background-color: white;
    z-index: 9999999;
  }
  .navbar .main-nav::after {
    content: "";
    position: absolute;
    top: -3px;
    left: 360px;
    width: 30px;
    height: 50px;
    background-color: #1f425d;
    z-index: 9999999;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (min-width: 1536px) {
  .navbar .main-nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 30px;
    background-color: white;
    z-index: 9999999;
  }
  .navbar .main-nav::after {
    content: "";
    position: absolute;
    top: -3px;
    left: 460px;
    width: 30px;
    height: 50px;
    background-color: #1f425d;
    z-index: 9999999;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
