* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  padding-bottom: 5rem;
}

.container {
  width: 100%;
  max-width: 1536px;
  padding: 0 1rem;
  margin: 0 auto;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  border: 0;
  cursor: pointer;
}

button:focus, button:active {
  outline: 0;
}

.btn-primary {
  padding: 1rem 2rem;
  background-color: #4ab9cf;
}

.navbar {
  width: 100%;
  background-color: white;
  position: relative;
}

.navbar .nav-info {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar .nav-info .logo {
  width: 270px;
}

.navbar .nav-info .nav-info__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 100%;
  margin-bottom: 1rem;
}

.navbar .nav-info .nav-info__cta .nav-info__cta-item {
  position: relative;
  border-bottom: 1px solid #b4b4b4;
  padding: 0.5rem 0;
}

.navbar .nav-info .nav-info__cta .nav-info__cta-item:last-child {
  border-bottom: 0;
}

.navbar .nav-info .nav-info__cta .nav-info__cta-item .nav-info__cta-item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-info .nav-info__cta .nav-info__cta-item .nav-info__cta-item-top i {
  color: #e21f2f;
  margin-right: 0.5rem;
}

.navbar .nav-info .nav-info__cta .nav-info__cta-item .nav-info__cta-item-top h4 {
  color: #aaaaaa;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0;
}

.navbar .nav-info .nav-info__cta .nav-info__cta-item p,
.navbar .nav-info .nav-info__cta .nav-info__cta-item a {
  display: block;
  text-decoration: none;
  color: #474747;
  font-weight: 700;
  margin: 0.5rem 0;
  font-size: 1rem;
}

.navbar .nav-info .mobile-menu {
  height: 80px;
  cursor: pointer;
  position: relative;
  z-index: 9999;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 80px;
}

.navbar .nav-info .mobile-menu span {
  position: absolute;
  height: 4px;
  width: 30px;
  left: 50%;
  top: 50%;
  background-color: #000;
  -webkit-transform: rotate(0deg) translate(-50%, -50%);
          transform: rotate(0deg) translate(-50%, -50%);
  opacity: 1;
  border-radius: 10px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.navbar .nav-info .mobile-menu span:nth-child(1) {
  top: 40%;
}

.navbar .nav-info .mobile-menu span:nth-child(2) {
  top: 50%;
}

.navbar .nav-info .mobile-menu span:nth-child(3) {
  top: 60%;
}

.navbar .nav-info .mobile-menu.open span {
  background-color: white;
}

.navbar .nav-info .mobile-menu.open span:nth-child(1) {
  top: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar .nav-info .mobile-menu.open span:nth-child(2) {
  -webkit-transform-origin: center;
          transform-origin: center;
  top: 50%;
  left: -100px;
  opacity: 0;
}

.navbar .nav-info .mobile-menu.open span:nth-child(3) {
  -webkit-transform-origin: center;
          transform-origin: center;
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar .main-nav {
  height: calc(100vh);
  background-color: #1f425d;
  position: fixed;
  z-index: 99;
  top: 0px;
  right: 0;
  width: 300px;
  font-weight: 500;
  font-size: 18px;
  padding-top: 80px;
  color: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.navbar .main-nav .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .main-nav .main-nav__items {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .main-nav .main-nav__items .main-nav__items-link {
  margin-right: 0rem;
  width: 200px;
}

.navbar .main-nav .main-nav__items .main-nav__items-link a,
.navbar .main-nav .main-nav__items .main-nav__items-link span {
  cursor: pointer;
  display: block;
  padding: 1rem;
}

.navbar .main-nav .main-nav__items .main-nav__items-link i {
  cursor: pointer;
}

.navbar .main-nav .main-nav__items .main-nav__items-link .main-nav__items-link__submenu {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  height: 0;
}

.navbar .main-nav .main-nav__items .main-nav__items-link .main-nav__items-link__submenu li {
  background-color: #38729e;
  border-bottom: 1px solid #adadad;
  width: 200px;
  margin-left: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .main-nav .main-nav__items .main-nav__items-link .main-nav__items-link__submenu li:last-child {
  border-bottom: 0;
}

.navbar .main-nav .main-nav__items .main-nav__items-link .main-nav__items-link__submenu li a {
  padding: 1rem;
  display: block;
}

.navbar .main-nav .main-nav__items .main-nav__items-link .open-submenu {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.navbar .main-nav .main-nav__items .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar .main-nav .main-nav__items .submenu .main-nav__items-link__submenu {
  width: 100%;
}

.navbar .main-nav.open-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.homepage-hero {
  overflow: hidden;
}

.homepage-hero .glider-contain {
  position: relative;
  height: 80vh;
}

.homepage-hero .glider-contain .glider {
  height: inherit;
}

.homepage-hero .glider-contain .glider .glider-track {
  height: inherit;
}

.homepage-hero .glider-contain .glider .glider-item {
  position: relative;
  z-index: 1;
}

.homepage-hero .glider-contain .glider .glider-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.739);
  height: 100%;
  width: 100%;
}

.homepage-hero .glider-contain .glider .glider-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.homepage-hero .glider-contain .glider .glider-item .container {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.homepage-hero .glider-contain .glider .glider-item .container .glider-item__info {
  color: white;
}

.homepage-hero .glider-contain .glider .glider-item .container .glider-item__info h1 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.homepage-hero .glider-contain .glider .glider-item .container .glider-item__info p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.homepage-hero .glider-contain .glider .glider-item .container .glider-item__info a {
  display: inline-block;
  margin-top: 1rem;
  text-transform: capitalize;
}

.homepage-hero .glider-contain .buttons {
  position: absolute;
  top: 0rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  width: 80%;
  height: 4rem;
}

.homepage-hero .glider-contain .buttons .container {
  height: inherit;
  position: relative;
}

.homepage-hero .glider-contain .buttons .container .btn-wraper {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homepage-hero .glider-contain .buttons .container .btn-wraper button {
  width: 60px;
  height: 60px;
  border-radius: 2px;
  background-color: rgba(250, 250, 250, 0.35);
  font-size: 24px;
  color: rgba(0, 0, 0, 0.35);
}

.services-cards .services-cards__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.services-cards .services-cards__items .services-cards__item {
  min-height: 200px;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

.services-cards .services-cards__items .services-cards__item .services-cards__item-image {
  height: 200px;
  margin-bottom: 1rem;
}

.services-cards .services-cards__items .services-cards__item .services-cards__item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-cards .services-cards__items .services-cards__item .services-cards__item-title {
  margin-bottom: 1rem;
}

.services-cards .services-cards__items .services-cards__item .services-cards__item-title h1 {
  font-size: 1.5rem;
  color: #444444;
}

.services-cards .services-cards__items .services-cards__item .services-cards__item-text {
  margin-bottom: 1rem;
}

.services-cards .services-cards__items .services-cards__item .services-cards__item-text p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #aaaaaa;
}

.services-cards .services-cards__items .services-cards__item .services-cards__item-cta {
  margin-bottom: 1rem;
}

.services-cards .services-cards__items .services-cards__item .services-cards__item-cta a {
  color: #4ab9cf;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.services-cards .no-image {
  background-color: white;
}

.services-cards .no-image .services-cards__item-title,
.services-cards .no-image .services-cards__item-text,
.services-cards .no-image .services-cards__item-cta {
  padding: 1.5rem 0 0 0;
}

.section__title {
  padding: 2rem 0;
  font-size: 2.75rem;
  font-weight: 900;
  color: #272626;
  letter-spacing: -0.05em;
  position: relative;
}

.section__title span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.065);
  width: 20%;
  right: 0;
}

.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid red;
  padding: 2rem;
  border: 1px solid #e6e6e6;
  border-bottom: 2px solid #b9babc;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  line-height: 1.3;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.icon-box:hover {
  color: #4ab9cf;
  border-bottom: 2px solid #4ab9cf;
  -webkit-box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
}

.icon-box:hover i {
  color: #4ab9cf;
}

.icon-box .icon-box__text h4 {
  margin-bottom: 0.5rem;
  color: #444444;
  font-weight: 900;
  letter-spacing: -0.05em;
}

.icon-box .icon-box__text p {
  color: #aaaaaa;
  font-size: 14px;
}

.icon-box i {
  color: #b9babc;
  width: 80px;
  font-size: 2.5rem;
  text-align: center;
}

.our-services .container .our-services__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.news {
  background-image: url("/assets/images/news-bg.jpg");
  background-repeat: repeat;
  padding: 2rem 0;
  margin-top: 2rem;
}

.news .news-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.news .news-cards .news-cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 300px;
  background-color: white;
  position: relative;
}

.news .news-cards .news-cards__item .news-cards__item-image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  margin-bottom: 1rem;
}

.news .news-cards .news-cards__item .news-cards__item-text {
  padding: 0 1.5rem;
}

.news .news-cards .news-cards__item .news-cards__item-text h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 21px;
  text-transform: uppercase;
  color: #444444;
}

.news .news-cards .news-cards__item .news-cards__item-text p {
  color: #aaaaaa;
  margin-bottom: 1rem;
}

.news .news-cards .news-cards__item .news-cards__item-date {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #e21f2f;
  padding: 0.4rem;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}

.news .news-cards .news-cards__item .news-cards__item-date::before {
  position: absolute;
  content: "";
  top: 0.3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  background-color: rgba(250, 250, 250, 0.5);
  z-index: 5;
  width: 70%;
  border-radius: 4px;
}

.news .news-cards .news-cards__item .news-cards__item-date::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 10px 0 0;
  border-color: #bf1926 transparent transparent transparent;
}

@media (min-width: 1024px) {
  .section__title span {
    width: 70%;
  }
  .navbar {
    width: 100%;
    background-color: white;
    font-size: 1.2rem;
  }
  .navbar .nav-info {
    min-height: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .nav-info .logo {
    width: 270px;
  }
  .navbar .nav-info .nav-info__cta {
    width: calc(100% - 270px);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    margin-bottom: 0;
  }
  .navbar .nav-info .nav-info__cta .nav-info__cta-item {
    padding: 1rem;
    margin-left: 2rem;
    position: relative;
    border-bottom: 0;
  }
  .navbar .nav-info .nav-info__cta .nav-info__cta-item::after {
    content: "";
    border-right: 1px solid #b4b4b4;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -1rem;
    height: 2rem;
  }
  .navbar .nav-info .nav-info__cta .nav-info__cta-item:last-child:after {
    display: none;
  }
  .navbar .nav-info .mobile-menu {
    display: none;
  }
  .navbar .main-nav {
    height: 60px;
    background-color: #1f425d;
    position: relative;
    z-index: 99;
    top: 0px;
    right: 0;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    padding-top: 0px;
    color: white;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .navbar .main-nav .main-nav__items {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .main-nav .main-nav__items .main-nav__items-link {
    margin-right: 1rem;
    width: auto;
    position: relative;
  }
  .navbar .main-nav .main-nav__items .main-nav__items-link a {
    display: block;
    padding: 1rem;
  }
  .navbar .main-nav .main-nav__items .main-nav__items-link .main-nav__items-link__submenu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    height: 0;
    top: 100%;
    left: 0;
  }
  .navbar .main-nav .main-nav__items .main-nav__items-link .main-nav__items-link__submenu li {
    background-color: #38729e;
    border-bottom: 1px solid #adadad;
    width: 200px;
    margin-left: 0rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar .main-nav .main-nav__items .main-nav__items-link .main-nav__items-link__submenu li:last-child {
    border-bottom: 0;
  }
  .navbar .main-nav .main-nav__items .main-nav__items-link .main-nav__items-link__submenu li a {
    padding: 1rem;
    display: block;
  }
  .navbar .main-nav .main-nav__items .main-nav__items-link .open-submenu {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
  .navbar .main-nav .main-nav__items .submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navbar .main-nav .main-nav__items .submenu .main-nav__items-link__submenu {
    width: 100%;
  }
  .homepage-hero .glider-contain {
    height: 60vh;
  }
  .homepage-hero .glider-contain .glider .glider-item .container .glider-item__info {
    max-width: 700px;
  }
  .homepage-hero .glider-contain .glider .glider-item .container .glider-item__info h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .homepage-hero .glider-contain .glider .glider-item .container .glider-item__info a {
    display: inline-block;
    margin-top: 1.5rem;
    text-transform: capitalize;
    font-weight: 500;
  }
  .homepage-hero .glider-contain .buttons {
    position: absolute;
    top: 2rem;
    left: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    z-index: 2;
    width: 100%;
    height: 4rem;
  }
  .homepage-hero .glider-contain .buttons .container {
    height: inherit;
    position: relative;
  }
  .homepage-hero .glider-contain .buttons .container .btn-wraper {
    width: 300px;
    height: 100%;
    display: block;
  }
  .homepage-hero .glider-contain .buttons .container .btn-wraper .glider-next,
  .homepage-hero .glider-contain .buttons .container .btn-wraper .glider-prev {
    position: relative;
    margin: 0;
    left: 0;
    top: 0;
  }
  .homepage-hero .glider-contain .buttons .container .btn-wraper button {
    width: 60px;
    height: 60px;
    border-radius: 2px;
    background-color: rgba(250, 250, 250, 0.35);
    font-size: 24px;
    color: rgba(0, 0, 0, 0.35);
  }
  .homepage-hero .glider-contain .buttons .container .btn-wraper .glider-next {
    left: 8px;
  }
  .services-cards {
    margin-top: -3rem;
    position: relative;
    z-index: 9;
  }
  .services-cards .services-cards__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .services-cards .no-image {
    background-color: white;
  }
  .services-cards .no-image .services-cards__item-title,
  .services-cards .no-image .services-cards__item-text,
  .services-cards .no-image .services-cards__item-cta {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
  .our-services .container .our-services__cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
