* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}
$primaryColor: #4ab9cf;

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}
p {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
button {
  border: 0;
  cursor: pointer;
  &:focus,
  &:active {
    outline: 0;
  }
}
.btn-primary {
  padding: 1rem 2rem;
  background-color: $primaryColor;
}
//nav barstart hete

.navbar {
  width: 100%;
  background-color: white;
  position: relative;
  .nav-info {
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .logo {
      width: 270px;
    }
    .nav-info__cta {
      display: flex;
      flex-direction: column;
      order: 3;
      width: 100%;
      margin-bottom: 1rem;
      .nav-info__cta-item {
        position: relative;
        border-bottom: 1px solid #b4b4b4;
        padding: 0.5rem 0;
        &:last-child {
          border-bottom: 0;
        }
        .nav-info__cta-item-top {
          display: flex;
          align-items: center;
          i {
            color: #e21f2f;
            margin-right: 0.5rem;
          }
          h4 {
            color: #aaaaaa;
            display: inline-block;
            font-size: 13px;
            font-weight: 400;
            margin: 0;
            letter-spacing: 0;
          }
        }
        p,
        a {
          display: block;
          text-decoration: none;
          color: #474747;
          font-weight: 700;
          margin: 0.5rem 0;
          font-size: 1rem;
        }
      }
    }
    .mobile-menu {
      height: 80px;
      cursor: pointer;
      position: relative;
      z-index: 9999;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      width: 80px;
      span {
        position: absolute;
        height: 4px;
        width: 30px;
        left: 50%;
        top: 50%;
        background-color: #000;
        transform: rotate(0deg) translate(-50%, -50%);
        opacity: 1;
        border-radius: 10px;
        transition: 0.25s ease-in-out;
      }
      span:nth-child(1) {
        top: 40%;
      }
      span:nth-child(2) {
        top: 50%;
      }
      span:nth-child(3) {
        top: 60%;
      }
    }
    .mobile-menu.open {
      span {
        background-color: white;
      }
      span:nth-child(1) {
        top: 50%;
        transform-origin: center;
        transform: rotate(45deg);
      }
      span:nth-child(2) {
        transform-origin: center;
        top: 50%;
        left: -100px;
        opacity: 0;
      }
      span:nth-child(3) {
        transform-origin: center;
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }

  .main-nav {
    height: calc(100vh);
    background-color: #1f425d;
    position: fixed;
    z-index: 99;
    top: 0px;
    right: 0;
    width: 300px;
    font-weight: 500;
    font-size: 18px;
    padding-top: 80px;
    color: white;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;

    .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .main-nav__items {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .main-nav__items-link {
        margin-right: 0rem;
        width: 200px;
        a,
        span {
          cursor: pointer;
          display: block;
          padding: 1rem;
        }
        i {
          cursor: pointer;
        }
        .main-nav__items-link__submenu {
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
          height: 0;
          li {
            background-color: #38729e;
            border-bottom: 1px solid #adadad;
            width: 200px;
            margin-left: 2rem;
            transition: all 0.3s;
            &:last-child {
              border-bottom: 0;
            }
            a {
              padding: 1rem;
              display: block;
            }
          }
        }
        .open-submenu {
          visibility: visible;
          opacity: 1;
          height: auto;
        }
      }
      .submenu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .main-nav__items-link__submenu {
          width: 100%;
        }
      }
    }
  }
  .main-nav.open-nav {
    transform: translateX(0);
  }
}
//nav bar ends heer

.homepage-hero {
  overflow: hidden;
  .glider-contain {
    position: relative;
    height: 80vh;
    .glider {
      height: inherit;
      .glider-track {
        height: inherit;
      }
      .glider-item {
        position: relative;
        z-index: 1;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.739);
          height: 100%;
          width: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .container {
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          user-select: text;
          .glider-item__info {
            color: white;
            h1 {
              font-size: 2rem;
              font-weight: 900;
              margin-bottom: 1rem;
            }
            p {
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5rem;
            }
            a {
              display: inline-block;
              margin-top: 1rem;
              text-transform: capitalize;
            }
          }
        }
      }
    }
    .buttons {
      position: absolute;
      top: 0rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      width: 80%;
      height: 4rem;
      .container {
        height: inherit;
        position: relative;
        .btn-wraper {
          width: 80%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          button {
            width: 60px;
            height: 60px;
            border-radius: 2px;
            background-color: rgba(250, 250, 250, 0.35);
            font-size: 24px;
            color: rgba(0, 0, 0, 0.35);
          }
        }
      }
    }
  }
}
.services-cards {
  .services-cards__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    .services-cards__item {
      min-height: 200px;
      padding: 0 1rem;
      margin-bottom: 1.5rem;
      .services-cards__item-image {
        height: 200px;
        margin-bottom: 1rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .services-cards__item-title {
        margin-bottom: 1rem;
        h1 {
          font-size: 1.5rem;
          color: #444444;
        }
      }
      .services-cards__item-text {
        margin-bottom: 1rem;
        p {
          font-size: 1rem;
          line-height: 1.5;
          margin-bottom: 1rem;
          color: #aaaaaa;
        }
      }
      .services-cards__item-cta {
        margin-bottom: 1rem;
        a {
          color: $primaryColor;
          font-size: 1rem;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
  .no-image {
    background-color: white;
    .services-cards__item-title,
    .services-cards__item-text,
    .services-cards__item-cta {
      padding: 1.5rem 0 0 0;
    }
  }
}
.section__title {
  padding: 2rem 0;
  font-size: 27px;
  font-weight: 900;
  color: #272626;
  letter-spacing: -0.05em;
  position: relative;
  display: flex;
  align-items: center;
  h3 {
    margin-right: 1rem;
  }
  span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.065);
    flex: 1;
  }
  .buttons {
    display: flex;
    align-items: center;
    button {
      width: 40px;
      height: 40px;
      background-color: #fff;
      color: #aaa;
      margin-left: 10px;
      transition: all 100ms ease-out;
      &:last-child {
        margin-left: 1rem;
      }
    }
  }
}
.icon-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
  padding: 2rem;

  border: 1px solid #e6e6e6;
  border-bottom: 2px solid #b9babc;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  line-height: 1.3;
  transition: all 100ms ease-out;

  &:hover {
    color: $primaryColor;
    border-bottom: 2px solid $primaryColor;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
  }
  &:hover i {
    color: $primaryColor;
  }

  .icon-box__text {
    h4 {
      margin-bottom: 0.5rem;
      color: #444444;
      font-weight: 900;
      letter-spacing: -0.05em;
    }
    p {
      color: #aaaaaa;
      font-size: 14px;
    }
  }
  i {
    color: #b9babc;
    width: 80px;
    font-size: 2.5rem;
    text-align: center;
  }
}
.contact-us__form {
  input,
  select,
  textarea {
    color: #444444;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #eee;
    font-size: 0.8rem;
    background-color: #f5f5f5;
    border-radius: 2px;
    transition: all 100ms ease-out;
    &:focus {
      outline: 0;
      outline-color: $primaryColor;
    }
  }
  .contact-us__form-submit {
    button {
      color: white;
      font-weight: 700;
      height: 45px;
      line-height: 45px;
      padding: 0 30px;
      border-radius: 2px;
      text-transform: uppercase;
      transition: all 100ms ease-out;
    }
  }
}
.divider {
  margin-top: 22px;
  margin-bottom: 22px;
  border: 0;
  border-top: 1px solid #eee;
}
.read-more {
  color: $primaryColor;
  font-weight: 700;
  padding: 1rem 0;
  i {
    margin-left: 0.5rem;
  }
}
.page-hero {
  background: #f5f5f5 linear-gradient(90deg, #f5f5f5, #eeeeee);
  padding: 50px 0;
  .page-name {
    h1 {
      color: #444444;
      text-transform: uppercase;
      margin: 0;
      font-size: 44px;
    }
    h3 {
      font-size: 16px;
      color: #aaa;
      margin: 10px 0 7px;
      font-weight: 400;
      letter-spacing: 0;
    }
  }
}
.breadcrumbs {
  box-shadow: 0 1px 2px #e6e6e6;
  border-top: 1px solid #e6e6e6;
  height: 50px;
  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  span {
    display: inline-block;
    position: relative;
    color: #444;
    padding: 0.5rem;
    a {
      display: block;
      font-weight: 700;
      position: relative;
      width: 100%;
    }
  }
  .current-page {
    color: #aaa;
  }
}
.our-services {
  .container {
    .our-services__cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }
  }
}
.news {
  background-image: url("/assets/images/news-bg.jpg");
  background-repeat: repeat;
  padding: 2rem 0;
  margin-top: 2rem;
  .news-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    .news-cards__item {
      display: flex;
      flex-direction: column;
      min-height: 300px;
      background-color: white;
      position: relative;
      .news-cards__item-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        overflow: hidden;
        margin-bottom: 1rem;
      }
      .news-cards__item-text {
        padding: 0 1.5rem;
        h1 {
          margin-top: 0;
          margin-bottom: 0.5rem;
          font-size: 21px;
          text-transform: uppercase;
          color: #444444;
          letter-spacing: -0.05em;
        }
        p {
          color: #aaaaaa;
          margin-bottom: 1rem;
        }
      }
      .news-cards__item-date {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        background-color: #e21f2f;
        padding: 0.4rem;
        text-align: center;
        color: white;
        font-weight: 700;
        font-size: 1rem;
        text-transform: uppercase;
        &::before {
          position: absolute;
          content: "";
          top: 0.3rem;
          left: 50%;
          transform: translateX(-50%);
          height: 2px;
          background-color: rgba(250, 250, 250, 0.5);
          z-index: 5;
          width: 70%;
          border-radius: 4px;
        }
        &::after {
          position: absolute;
          content: "";
          right: 0;
          bottom: -9px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 9px 10px 0 0;
          border-color: #bf1926 transparent transparent transparent;
        }
      }
    }
  }
  .news-list-items {
    margin: 1rem 0;
    a {
      display: block;
      padding: 1rem 2rem;
      background-color: #fff;
      border-top: 1px solid #e6e6e6;
      transition: all 100ms ease-out;
      font-size: 1rem;
      color: #444444;
      letter-spacing: -0.05em;
      h1 {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
      }
      p {
        color: #aaaaaa;
      }
    }
    .more-news {
      display: flex;
      justify-content: space-between;
      color: $primaryColor;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
.our-values {
  padding: 3rem 0;
  margin-bottom: 4rem;
  // background-image: url("/assets/images/pexels-alexander-isreb-1797428.jpg");
  background: linear-gradient(
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95) 100%
    ),
    url("/assets/images/pexels-alexander-isreb-1797428.jpg") 50% no-repeat;
  background-size: cover;
  .our-values__wraper {
    text-align: center;
    h3 {
      font-size: 2.75rem;
      color: #444444;
    }
    p {
      color: #aaaaaa;
      line-height: 1.5;
      font-size: 1rem;
    }
    .by {
      color: $primaryColor;
      font-weight: 700;
      font-size: 0.9rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    img {
      margin: 2rem 0;
    }
  }
}
.homepage-about-us {
  .home-page-about-us__text {
    p {
      font-size: 1rem;
      color: #aaaaaa;
      line-height: 1.5;
      margin-bottom: 1rem;
    }
  }
  .homepage-about-us__contact {
    padding: 3rem 0;
    .contact-us__form-wraper {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      padding: 2rem;

      .contact-us__form-title {
        font-size: 1.5rem;
        color: #444444;
        font-weight: 900;
        letter-spacing: -0.05em;
        margin-bottom: 1rem;
      }
      p {
        margin-bottom: 1rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #aaaaaa;
      }
    }
  }
}
.homepage-gallery-faq {
  margin-bottom: 4rem;
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    .homepage-gallery {
      .gallery-images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }
}
.homepage-testimonials {
  overflow: hidden;
  background-color: #eeeeee;
  padding: 3rem 0;
  .container {
    .glider-contain {
      .glider {
        .glider-item-testimonials {
          margin-right: 1rem;
          color: #aaaaaa;
          .testimonials-box {
            display: flex;
            align-items: center;
            background-color: white;
            padding: 2rem 2rem 2rem 0;
            margin-bottom: 1rem;
            p {
              line-height: 1.5;
            }
            i {
              background-color: $primaryColor;
              padding: 1rem;
              margin-right: 1rem;
              color: white;
              height: 100px;
            }
          }
          .testimonials-person {
            padding: 1rem 0;
            strong {
              color: black;
            }
            span {
              font-style: italic;
            }
          }
        }
      }
      .glider::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    }
  }
}
.homepage-partners {
  margin-top: 3rem;
  margin-bottom: 3rem;
  .partners-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    li {
      margin: 15px 0;
      border: 1px solid #e6e6e6;
      border-bottom: 2px solid #b9babc;
      border-radius: 2px;
      transition: all 100ms ease-out;
      opacity: 0.6;
      &:hover {
        border-bottom: 2px solid $primaryColor;
        opacity: 1;
      }
    }
  }
}
.homepage-statistics {
  padding: 3rem 0;
  background: linear-gradient(
      rgba(240, 240, 240, 0.949),
      rgba(240, 240, 240, 0.949) 100%
    ),
    url("/assets/images/statistics-bg.jpg") 50% no-repeat;
  background-size: cover;
  min-height: 300px;
  .statistics-list-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    transition: all 100ms ease-out;
    .statistics-list-item {
      background-color: white;
      padding: 1rem;
      text-align: center;
      border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
      .statistics-list-item__top {
        font-size: 44px;
        line-height: 70px;
        font-weight: 900;
        color: #444;
        i {
          color: #e21f2f;
        }
      }
      p {
        color: #aaaaaa;
      }
    }
  }
}
//about us page
.about-us-section {
  padding: 3rem 0;
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow: hidden;
    gap: 2rem;
    p {
      line-height: 1.5;
      margin-bottom: 1rem;
      font-size: 1rem;
      color: #aaa;
      // padding-right: 2rem;
    }
    img {
      height: 48%;
      width: 100%;
      object-fit: cover;
      margin-bottom: 1rem;
    }
  }
}
.about-us-section__team {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    .team-card {
      line-height: 1.5;
      img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 1rem;
      }
      h1,
      h3 {
        margin-bottom: 0.5rem;
        font-weight: 900;
      }
      h1 {
        color: #444;
        font-size: 1.75rem;
      }
      h3 {
        color: #bbb;
        font-size: 1.2rem;
      }
      p {
        color: #aaa;
        margin-bottom: 1rem;
      }
    }
  }
}
//contact us page
.contact-us-section {
  margin-bottom: 2rem;
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    .contact-us__left {
      padding: 1rem 0;
      h1 {
        margin-bottom: 2rem;
        color: #444;
        font-weight: 900;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        font-size: 27px;
      }
      h4 {
        color: #aaa;
        margin-bottom: 0.5rem;
      }
      p {
        color: #aaa;
        font-size: 14px;
        margin-bottom: 1rem;
      }
      .contact-details {
        background-color: white;
        padding: 30px;
        background-color: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        margin-bottom: 1rem;
        a {
          display: block;
          color: #aaa;
          font-size: 14px;
        }
        a:last-child {
          color: $primaryColor;
          margin-top: 0.5rem;
        }
      }
      .opening-timing {
        background-color: white;
        padding: 30px;
        background-color: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        margin-bottom: 1rem;
        li {
          display: flex;
          align-items: center;
          padding: 0.5rem 0;
          color: #aaa;
          justify-content: space-between;
          span {
            font-size: 1rem;
            line-height: 1.5;
            font-weight: 400;
            display: inline-block;
          }
          .opening-timing__day {
            text-transform: capitalize;
          }
          .line {
            flex: 1;
            height: 1px;
            background-color: #e0e0e0;
            margin: 0 0.5rem;
          }
        }
        .active {
          span {
            font-weight: 900;
            color: #444;
          }
        }
      }
    }
    .contact-us__right {
      padding: 1rem 0;
      .contact-us__form-wraper {
        h1 {
          font-size: 27px;
          color: #444;
          line-height: 1.5;
          margin-bottom: 1.5rem;
          font-weight: 900;
        }
        p {
          margin-bottom: 1.5rem;
          color: #aaa;
          font-size: 14px;
        }
      }
    }
  }
}
// services pages
.services-page {
  padding: 3rem 0;
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    .services-page__sidebar {
      order: 3;
      li {
        a {
          display: block;
          padding: 1.2rem 1rem;
          margin-bottom: 0.5rem;
          background-color: #eee;
          font-family: source sans pro, Helvetica, Arial, sans-serif;
          border-radius: 2px;
          font-size: 1rem;
          font-weight: 900;
          text-transform: uppercase;
          color: #aaa;
          transition: all 100ms ease-out;
        }
        .active {
          background-color: $primaryColor;
          color: white;
        }
      }
    }
    .services-page__text {
      padding: 1rem 0;
      color: #aaa;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 1rem;
      p {
        margin-bottom: 1rem;
      }
    }
    .services-page__images {
      img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 1rem;
      }
    }
  }
}
.blog-page {
  .container {
    .blog-page__list-items {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
      .blog-page__list-item {
        display: block;
        padding: 1rem;
        button {
          background-color: transparent;
          padding: 0.5rem;
          padding-left: 0;
        }
        .blog-page__list-item__image {
          width: 100%;
          height: 300px;
          margin-bottom: 1rem;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .blog-page__list-item__text {
          p {
            font-size: 1rem;
            color: #aaa;
          }
          h1 {
            font-size: 27px;
            color: #444;
            line-height: 1.5;
            margin-bottom: 0.5rem;
            letter-spacing: -0.5px;
            text-transform: uppercase;
          }
          .blog-page__list-item__text-time {
            display: flex;
            align-items: center;
            padding: 0.5rem 0;
            margin-bottom: 0.5rem;
            p {
              margin-right: 2rem;
            }
            i {
              margin-right: 0.5rem;
            }
          }
          .content {
            margin-bottom: 1rem;
            line-height: 1.5;
            color: #444;
          }
          .read-more {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
.single-blog-page {
  h1 {
    color: #444;
    letter-spacing: -0.5px;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    .post-containt {
      padding: 2rem 0;
      .post-containt__main {
        margin-bottom: 1rem;
        .post-containt__info-top {
          display: flex;
          align-items: center;
          color: #aaa;
          margin-bottom: 1rem;
          p {
            margin-right: 2rem;
            i {
              margin-right: 0.5rem;
            }
          }
        }
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
        .post-containt__info-bottom {
          width: 100%;
          margin-top: -0.3rem;
          padding: 0.5rem 0;
          background-color: rgba(221, 221, 221, 0.52);
          display: flex;
          justify-items: center;
          border-radius: 0 0 2px 2px;
          .post-containt__info-category,
          .post-containt__info-tags {
            display: flex;
            flex-wrap: wrap;
            width: 50%;
          }
          .post-containt__info-category {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            a {
              display: block;
              padding: 0.5rem 0;
              margin-right: 0.5rem;
              color: $primaryColor;
              transition: all 100ms ease-in-out;
              font-size: 1rem;
              font-weight: 500;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .post-containt__info-tags {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            a {
              background-color: $primaryColor;
              border-radius: 2px;
              padding: 0.5rem;
              font-weight: 500;
              color: white;
              margin-left: 0.3rem;
            }
          }
        }
      }
      .post-containt__text {
        padding: 1rem 0.5rem;
        p {
          margin-bottom: 1.5rem;
          font-size: 18px;
          line-height: 1.7;
          color: #aaa;
        }
      }
    }
    .post-sidebar {
      padding: 2rem 0;
      .post-search {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 2rem;
        input {
          border: 1px solid #eee;
          border-radius: 2px;
          flex: 1;
          padding: 1rem;
          color: #444444;
          display: block;
          font-size: 1rem;
          background-color: #f5f5f5;
          transition: all 100ms ease-out;
          &:focus {
            outline: 0;
            outline-color: $primaryColor;
          }
        }
        .icon {
          border-radius: 0 2px 2px 0;
          position: absolute;
          right: 0;
          width: 60px;
          background-color: $primaryColor;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          color: white;
          font-size: 1.2rem;
        }
      }
      .recent-posts,
      .post-categories {
        margin-bottom: 2rem;
        ul {
          padding: 1rem;
        }
        li {
          margin-bottom: 0.5rem;
          a {
            display: block;
            padding: 0.5rem 0;
            color: $primaryColor;
            transition: all 100ms ease-in-out;
            font-size: 1rem;
            font-weight: 500;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .post-tags {
        margin-bottom: 2rem;
        .tag-list {
          display: flex;
          flex-wrap: wrap;
          a {
            background-color: $primaryColor;
            border-radius: 2px;
            padding: 1rem;
            margin: 0.5rem;
            font-weight: 500;
            color: white;
          }
        }
      }
    }
  }
}
.faq-page {
  .container {
    padding: 2rem 1rem;
    .faq-list-items {
      .faq-item {
        margin-bottom: 1.5rem;
        h3 {
          padding: 1rem 0;
          color: #444;
        }
        p {
          color: #aaa;
          line-height: 1.6;
        }
      }
    }
    .faq-side-nav {
      .faq-sdie-nav__links {
        margin-bottom: 0.5rem;
        background-color: #bbbb;
        padding: 1rem;
        border-radius: 5px;
      }
      a {
        display: block;
        font-size: 1.5rem;
        font-weight: 600;
        color: #444;
        text-transform: capitalize;
      }
    }
  }
}

.footer {
  background-color: #1f425d;
  padding: 3rem 0;
  color: white;
  line-height: 1.5;
  .footer-list-items {
    .footer-list-item {
      margin-bottom: 1rem;
      .footer-logo {
        margin-bottom: 1rem;
      }
      p {
        font-size: 1rem;
        color: #9eb7cb;
      }
      .footer-list-item__headings {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: white;
      }
      .footer-list-item__links {
        color: #9eb7cb;
        .footer-list-item__link {
          padding: 1rem 0;
        }
      }
      .social {
        margin: 1rem 0;
        display: flex;
        li {
          margin-right: 0.5rem;
          background-color: #305a79;
          border-radius: 2px;
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          a {
            display: block;
            font-size: 1.75rem;
            margin: 0;
            padding: 0;
            color: #9eb7cb;
            i {
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .section__title {
    span {
      width: 70%;
    }
  }
  .contact-us__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .contact-us__form-left-items,
    .contact-us__form-right-items {
      width: 48%;
    }
    .contact-us__form-top-items,
    .contact-us__form-bottom-items {
      width: 100%;
    }
    .contact-us__form-top-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
    .contact-us__form-submit {
      width: 100%;
      display: flex;
    }
  }
  //nav bar start here
  .navbar {
    width: 100%;
    background-color: white;
    font-size: 1.2rem;
    .nav-info {
      min-height: 100px;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        width: 270px;
      }
      .nav-info__cta {
        width: calc(100% - 270px);
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        margin-bottom: 0;
        .nav-info__cta-item {
          padding: 1rem;
          margin-left: 2rem;
          position: relative;
          border-bottom: 0;

          &::after {
            content: "";
            border-right: 1px solid #b4b4b4;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -1rem;
            height: 2rem;
          }
          &:last-child:after {
            display: none;
          }
        }
      }
      .mobile-menu {
        display: none;
      }
    }
    .main-nav {
      height: 60px;
      background-color: #1f425d;
      position: relative;
      z-index: 99;
      top: 0px;
      right: 0;
      width: 100%;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;
      padding-top: 0px;
      color: white;
      transform: translateX(0);
      transition: transform 0.5s ease-in-out;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 30px;
        background-color: white;
        z-index: 9999999;
      }
      &::after {
        content: "";
        position: absolute;
        top: -3px;
        left: 160px;
        width: 30px;
        height: 50px;
        background-color: #1f425d;
        z-index: 9999999;
        transform-origin: bottom;
        transform: rotate(45deg);
      }
      .main-nav__items {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        // margin-left: 300px;
        .main-nav__items-link {
          margin-right: 1rem;
          width: auto;
          position: relative;
          a {
            display: block;
            padding: 1rem;
          }
          .main-nav__items-link__submenu {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            height: 0;
            top: 100%;
            left: 0;
            li {
              background-color: #38729e;
              border-bottom: 1px solid #adadad;
              width: 200px;
              margin-left: 0rem;
              transition: all 0.3s;
              &:last-child {
                border-bottom: 0;
              }
              a {
                padding: 1rem;
                display: block;
              }
            }
          }
          .open-submenu {
            visibility: visible;
            opacity: 1;
            height: auto;
          }
        }
        .submenu {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .main-nav__items-link__submenu {
            width: 100%;
          }
        }
      }
    }
  }
  .homepage-hero {
    .glider-contain {
      height: 60vh;
      .glider {
        .glider-item {
          .container {
            .glider-item__info {
              max-width: 700px;
              h1 {
                font-size: 2.5rem;
                margin-bottom: 1.5rem;
              }
              a {
                display: inline-block;
                margin-top: 1.5rem;
                text-transform: capitalize;
                font-weight: 500;
              }
            }
          }
        }
      }
      .buttons {
        position: absolute;
        top: 2rem;
        left: 0;
        transform: translateX(0%);
        z-index: 2;
        width: 100%;
        height: 4rem;
        .container {
          height: inherit;
          position: relative;
          .btn-wraper {
            width: 300px;
            height: 100%;
            display: block;
            .glider-next,
            .glider-prev {
              position: relative;
              margin: 0;
              left: 0;
              top: 0;
            }
            button {
              width: 60px;
              height: 60px;
              border-radius: 2px;
              background-color: rgba(250, 250, 250, 0.35);
              font-size: 24px;
              color: rgba(0, 0, 0, 0.35);
            }
            .glider-next {
              left: 8px;
            }
          }
        }
      }
    }
  }
  .services-cards {
    margin-top: -3rem;
    position: relative;
    z-index: 9;
    .services-cards__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.5rem;
    }
    .no-image {
      background-color: white;
      .services-cards__item-title,
      .services-cards__item-text,
      .services-cards__item-cta {
        padding: 1.5rem 1.5rem 0 1.5rem;
      }
    }
  }
  .our-services {
    padding: 4rem 0;
    margin-bottom: 4rem;
    .container {
      .our-services__cards {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  .news {
    padding: 5rem 0;
    margin-top: 4rem;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .news-cards {
      width: 66%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      .news-cards__item {
        display: flex;
        flex-direction: column;
        min-height: 300px;
        background-color: white;
        position: relative;
        .news-cards__item-image {
          width: 100%;
          height: 200px;
          object-fit: cover;
          overflow: hidden;
          margin-bottom: 1rem;
        }
        .news-cards__item-text {
          padding: 0 1.5rem;
          h1 {
            margin-top: 0;
            margin-bottom: 0.5rem;
            font-size: 21px;
            text-transform: uppercase;
            color: #444444;
            letter-spacing: -0.05em;
          }
          p {
            color: #aaaaaa;
            margin-bottom: 1rem;
          }
        }
        .news-cards__item-date {
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
          background-color: #e21f2f;
          padding: 0.4rem;
          text-align: center;
          color: white;
          font-weight: 700;
          font-size: 1rem;
          text-transform: uppercase;
          &::before {
            position: absolute;
            content: "";
            top: 0.3rem;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            background-color: rgba(250, 250, 250, 0.5);
            z-index: 5;
            width: 70%;
            border-radius: 4px;
          }
          &::after {
            position: absolute;
            content: "";
            right: 0;
            bottom: -9px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 10px 0 0;
            border-color: #bf1926 transparent transparent transparent;
          }
        }
      }
    }
    .news-list-items {
      margin: 0;
      width: 32%;
      a {
        display: block;
        padding: 1rem 2rem;
        background-color: #fff;
        border-top: 1px solid #e6e6e6;
        transition: all 100ms ease-out;
        font-size: 1rem;
        color: #444444;
        letter-spacing: -0.05em;
        h1 {
          margin-bottom: 0.5rem;
          font-size: 1rem;
          font-weight: 900;
        }
      }
      .more-news {
        display: flex;
        justify-content: space-between;
        color: $primaryColor;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
  .our-values {
    padding: 5rem 0;
    .our-values__wraper {
      max-width: 700px;
      margin: 0 auto;
    }
  }
  .homepage-about-us {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
  .homepage-gallery-faq {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
      .homepage-gallery {
        .gallery-images {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 100px 100px;
        }
      }
    }
  }
  .homepage-partners {
    .partners-list {
      grid-template-columns: repeat(6, 1fr);
      gap: 1rem;
    }
  }
  .homepage-statistics {
    display: flex;
    align-items: center;
    .statistics-list-items {
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      justify-content: center;
      .statistics-list-item {
        background-color: white;
        padding: 1rem;
        text-align: center;
        border-bottom: 0;
        border-left: 1px dashed rgba(0, 0, 0, 0.2);
        .statistics-list-item__top {
          font-size: 44px;
          line-height: 70px;
          font-weight: 900;
          color: #444;
          i {
            color: #e21f2f;
          }
        }
        p {
          color: #aaaaaa;
        }
      }
    }
  }
  //about us page
  .about-us-section {
    padding: 3rem 0;
    .container {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 80vh;
      justify-content: space-between;
      overflow: hidden;
      gap: 4rem;
      p {
        line-height: 1.5;
        margin-bottom: 1rem;
        font-size: 1rem;
        color: #aaa;
        padding-right: 2rem;
      }
      img {
        height: 48%;
        width: 80%;
        object-fit: cover;
        margin-bottom: 0.5rem;
      }
    }
  }
  .about-us-section__team {
    margin-bottom: 2rem;
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      .team-card {
        line-height: 1.5;
        img {
          height: 300px;
          width: 100%;
          object-fit: cover;
          margin-bottom: 1rem;
        }
        h1,
        h3 {
          margin-bottom: 0.5rem;
          font-weight: 900;
        }
        h1 {
          color: #444;
          font-size: 1.75rem;
        }
        h3 {
          color: #bbb;
          font-size: 1.2rem;
        }
        p {
          color: #aaa;
          margin-bottom: 1rem;
        }
      }
    }
  }
  //contact us page
  .contact-us-section {
    margin-bottom: 2rem;
    .container {
      display: grid;
      grid-template-columns: 30% 70%;
      gap: 1rem;
      .contact-us__left {
        padding: 3rem 0;
      }
      .contact-us__right {
        padding: 3rem 0;
        .contact-us__form-wraper {
          padding: 2rem;
          h3 {
            font-size: 27px;
            color: #444;
            line-height: 1.5;
            margin-bottom: 1.5rem;
          }
          p {
            margin-bottom: 1.5rem;
            color: #aaa;
            font-size: 14px;
          }
        }
      }
    }
  }
  .services-page {
    padding: 3rem 0;
    .container {
      display: grid;
      grid-template-columns: 25% 42% 33%;
      gap: 1rem;
      .services-page__sidebar {
        order: 1;
        padding: 1rem 0;
        li {
          a {
            display: block;
            padding: 1.2rem 1rem;
            margin-bottom: 0.5rem;
            background-color: #eee;
            font-family: source sans pro, Helvetica, Arial, sans-serif;
            border-radius: 2px;
            font-size: 1rem;
            font-weight: 900;
            text-transform: uppercase;
            color: #aaa;
            transition: all 100ms ease-out;
          }
          .active {
            background-color: $primaryColor;
            color: white;
          }
        }
      }
      .services-page__text {
        order: 2;
        padding: 1rem;
        color: #aaa;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
      }
      .services-page__images {
        order: 3;
        padding: 1rem;
        img {
          height: 300px;
          width: 100%;
          object-fit: cover;
          margin-bottom: 1rem;
        }
      }
    }
  }
  .blog-page {
    .container {
      .blog-page__list-items {
        padding: 3rem 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
      }
    }
  }
  .single-blog-page {
    h1 {
      color: #444;
      letter-spacing: -0.5px;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
    .container {
      display: grid;
      grid-template-columns: 70% 28%;
      gap: 2rem;
      overflow: hidden;
      .post-containt {
        padding: 2rem 0;
        .post-containt__main {
          margin-bottom: 1rem;
          .post-containt__info-top {
            display: flex;
            align-items: center;
            color: #aaa;
            margin-bottom: 1rem;
            p {
              margin-right: 2rem;
              i {
                margin-right: 0.5rem;
              }
            }
          }
          img {
            width: 100%;
            height: 500px;
            border-radius: 2px;
          }
          .post-containt__info-bottom {
            .post-containt__info-category,
            .post-containt__info-tags {
              width: 50%;
              padding: 0 0.5rem;
            }
          }
        }
      }
      .post-sidebar {
        padding: 8rem 1rem;
        .post-tags {
          .tag-list {
            a {
              padding: 0.5rem;
            }
          }
        }
      }
    }
  }
  .faq-page {
    .container {
      padding: 4rem 1rem;
      display: grid;
      grid-template-columns: 75% 25%;
      gap: 2rem;
      .faq-side-nav {
        padding: 1rem 0;
      }
    }
  }
  .footer {
    background-color: #1f425d;
    padding: 4rem 0;
    .container {
      display: flex;
      align-items: center;
    }
    .footer-list-items {
      display: grid;
      grid-template-columns: auto 20% 20%;
      gap: 2rem;
    }
  }
}
@media (min-width: 1280px) {
  .navbar {
    .main-nav {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        height: 30px;
        background-color: white;
        z-index: 9999999;
      }
      &::after {
        content: "";
        position: absolute;
        top: -3px;
        left: 360px;
        width: 30px;
        height: 50px;
        background-color: #1f425d;
        z-index: 9999999;
        transform-origin: bottom;
        transform: rotate(45deg);
      }
    }
  }
}
@media (min-width: 1536px) {
  .navbar {
    .main-nav {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 500px;
        height: 30px;
        background-color: white;
        z-index: 9999999;
      }
      &::after {
        content: "";
        position: absolute;
        top: -3px;
        left: 460px;
        width: 30px;
        height: 50px;
        background-color: #1f425d;
        z-index: 9999999;
        transform-origin: bottom;
        transform: rotate(45deg);
      }
    }
  }
}
